<mat-sidenav-container class="container">
    <mat-sidenav [(opened)]="opened" #sidenav [mode]="'push'">
        <navbar [access]="access"></navbar>
    </mat-sidenav>
  
    <mat-sidenav-content class="inner-container">
        <!--------------------------Header ------------------------------------->
        <div class="row align-center-end">
            <div class="menu">
                <button (click)="sidenav.toggle()" mat-icon-button aria-label="Menu option">
                    <mat-icon>menu</mat-icon>
                </button>
                <ng-container *ngIf="opened">Close</ng-container>
                <ng-container *ngIf="!opened">Open</ng-container>
                the menu, <span class="name-fg">{{ name.split(" ")[0] }}</span>
            </div>
            <div class="row align-center">
                <div class="column">
                    <div>{{ name }}</div>
                    <div class="name-fg">{{ access }}</div>
                </div>
                <div>
                    <img src="assets/images/user.png" class="user-image">
                </div>
            </div>
        </div>

        <!--------------------------- Router outlet ---------------------------->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>  