.container{
    width: 100%; height: 100%; position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
}
.inner-container{
    padding: 20px;
    overflow-y: auto;
}
.menu{
    font-size: 1.2rem;
}

.name-fg{
    color: var(--custom-deep-blue);
}

.user-image{
    margin-left: 20px;
    width: 50px;
}