<div class="navbar-home row align-center-end">
    <div class="brand">
        <img class="logo" src="assets/images/logo.png"> araDemic
    </div>
    <div class="row actions">
        <a [routerLink]="['/auth/login']">
            <button mat-button color="primary">Login</button>
        </a>
        <a [routerLink]="['/auth/signup']">
            <button mat-raised-button color="primary">
                Register
            </button>
        </a>
    </div>
</div>
<div class="row landing">
    <div class="split-container left">
        <img alt="Landing image" src="assets/images/landing.svg">
    </div>
    <div class="column split-container right">
        <h1>Your gateway to learning at your pace</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo porro quasi ullam deserunt illum, magni, in, qui perferendis animi unde harum optio dolorem ad assumenda. Veniam deserunt in reprehenderit odit.</p>
        <h3>Are you a</h3>
        <div class="row actions">
            <a [routerLink]="['/auth/signup']" [queryParams]="{access:'student'}">
                <button mat-raised-button color="primary">
                    Student?
                </button>
            </a>
            <a [routerLink]="['/auth/signup']" [queryParams]="{access:'teacher'}">
                <button mat-raised-button color="accent">
                    Teacher?
                </button>
            </a>
        </div>
    </div>
    <div class="box">
        <img class="place1" src="assets/images/drawing3.svg">
    </div>
    <div class="box">
        <img class="place2" src="assets/images/drawing2.svg">
    </div>
    <div class="box">
        <img class="place3" src="assets/images/drawing1.svg">
    </div>
</div>